    .Dashboard {
      margin-top: 10px;
      float: right;
      width: 1220px;
      height: 590px;
    }

    .button {
      width: 400px;
      float: right;
    }

    #description {
      height: 200px;
      width: 1100px;
      font-weight: 500;
    }

    #title {
      width: 500px;
      font-weight: 500;
    }

    .button button {
      border: 3px solid #251cd2;
      background-color: #e7e7e7;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 20px;
    }

    .button button span {
      font-size: 20px;
      font-weight: 600;
      padding-left: 20px;
      padding-right: 22px;
      color: #251cd2;
      cursor: pointer;
      border-radius: 10px;
    }

    button span:hover {
      color: #f2f0f0;
      background-color: #251cd2;
      padding-bottom: 5px;
    }

    button img {
      margin-bottom: 3px;
      margin-right: 3px;
    }

    .input {
      width: 1105px;
      padding: 10px;
      margin-left: 50px;
    }

    .input label {
      text-transform: uppercase;
      font-weight: 600;
      color: #251cd2;
      font-size: medium;
    }

    .NoteContext {
      width: 1150px;
      height: 500px;
    }

    .Notetitle {
      width: 520px;
      float: left;
    }

    .editor .ck-editor__editable {
      min-height: 420px !important;
      width: 1150px !important;
  }