.DeleteBody{
    background-image: url("../icons/background.jpg");
    width: 1535px;
    height : 715px;
    margin-top: 6px;
    border: 2px solid #f1f1f1;   
}

.DeleteTask {
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 140px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px; 
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 6px  #727171;
}

.DeleteBtns button{
    text-transform: uppercase;
    color: white;
    background: #251cd2;
    border-radius: 10px;
    border: 2px solid #251cd2;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: large;
    align-items: center;
}

.DelNoteContent{
    margin: 10px;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
}

.DelQuestion{
    color: #251cd2;
}