.editNotes{
  background-image: url("../icons/background.jpg");
  width: 1535px;
  height : 715px;
  margin-top: 6px;
  border: 2px solid #f1f1f1;   
}

.editinput {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px; 
  box-shadow: 0px 1px 6px  #727171;
}

.editQuestion{
  color: #251cd2;
  text-align: center;
}

.editinput label {
  text-transform: uppercase;
  font-weight: 600;
  color: #251cd2;
  font-size: medium;
}

.editNoteContext{
  width: 95%;
  margin-left: 20px;
}
.editNotetitle{
  width: 520px;
  float: left;
  margin-left: 20px;
}

.editbutton {
  width: 330px;
  float: right;
}

.editbutton button {
  border: 3px solid #251cd2;
  background-color: #e7e7e7;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-left: 130px;
  margin-top: 10px;
}

.editbutton button span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 22px;
  color: #251cd2;
  cursor: pointer;
  border-radius: 10px;
}

button span:hover {
  color: #f2f0f0;
  background-color: #251cd2;
  padding-bottom: 5px;
}

button img {
  margin-bottom: 3px;
  margin-right: 3px;
}