.editinput {
  width: auto;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  padding-left: 60px;
}

.editQuestion {
  color: #251cd2;
  text-align: center;
}

.editinput label {
  text-transform: uppercase;
  font-weight: 600;
  color: #251cd2;
  font-size: medium;
}

.editNoteContext {
  width: 95%;
  margin-left: 20px;
}


.editNotetitle {
  width: 520px;
  float: left;
  margin-left: 20px;
}

.editNotetitle input{
  margin-left: 50px;
}

.editbutton {
  width: 330px;
  float: right;
}

.editbutton button {
  border: 3px solid #251cd2;
  background-color: #e7e7e7;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.editbutton button span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 22px;
  color: #251cd2;
  cursor: pointer;
  border-radius: 10px;
}

button span:hover {
  color: #f2f0f0;
  background-color: #251cd2;
  padding-bottom: 5px;
}

button img {
  margin-bottom: 3px;
  margin-right: 3px;
}

.container {
  display: flex;
  position: relative;
}

.container .ck.ck-editor {
  width: 1300px;
} 

.container .ck-editor__editable {
  width: 1300px !important;
} 

.sidebar {
  background-color: white;
  min-width: 300px; 
  padding: 0px 10px;
}