.Footer{
    height: 90px;
    width: 1535px;
    background-color: rgb(180, 180, 255);;
    float: left;
    text-align: center;
    padding-top: 30px;
}
.Footer p{
    font-size: larger;
    font-family: Arial;
    font-weight: bold;
    word-spacing: 5px;
}