.ForgotPassword{
    background-image: url("../icons/background.jpg");
    border: 2px solid #f1f1f1;
    width: 1535px;
    height : 715px;
    margin-top: 6px;  
}

.forgotPasswordForm {
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 70px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px; 
    align-items: center;
    text-align: center;
    box-shadow: 0px 1px 6px  #727171;
}

.forgotPasswordForm input{
    border: 2px solid rgb(165, 161, 161);
    width: 300px;
    border-radius: 5px;
    margin-top: 25px;
}

.forgotPasswordForm .resetButton{
    margin-top: 30px;
    /* margin-left: 100px; */ 
    color: #f2f0f0;
    background-color: #251cd2;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

h1{
    text-transform: uppercase;
    font-weight: 600;
    color: #251cd2;
}

.error{
    color: red;
    font-style: italic;
    font-size:x-small;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}