.topNav{
    height: 120px;
    box-shadow: 0px 1px 6px  #727171; 
}

.Pages{
    width: 1000px; 
    height: 100px;
    display: flex;
}


.Pages ul{
    width: 600px;
    margin-left: 80px;
}

.Pages ul li{
        font-size: large;
        display: inline-block;
        margin-top: 40px;
        margin-right: 20px;
        padding-left: 20px;
        list-style: none;
    } 


.link {
    text-decoration:  none; 
    text-transform: uppercase;
    font-weight: 600;
    color: #5d56f1;
}

.link:hover{
    color: white;
    background: #251cd2;
    border-radius: 10px;
    padding: 5px;
}

.link-active {
    text-decoration:  none; 
    text-transform: uppercase;
    color: white;
    background: #251cd2;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
  }

.link-active:hover{
    color: white;
    background: #251cd2;
    border-radius: 10px;
    padding: 5px;
}

.Logout button{
    float: right;
    font-weight: 500;
    margin-top: 40px;
    margin-right: 40px;
    padding: 5px;
    float: right;
    text-transform: uppercase;
    color: white;
    background: #251cd2;
    border-radius: 10px;
    border: 2px solid #251cd2;
} 

.Logo{
    margin-left: 80px;
    height: 100px;
    width: 100px;
}